<div class="" style="background-color:#f7f7f7; padding:20px; border-radius:4px;">

  <h1><%= @event.name %></h1>
  <hr>
  
  <p id="notice"><%= notice %></p>

<p>
  <strong>イベント内容:</strong>
  <%= @event.info %>
</p>

<p>
  <strong>開始日時:</strong>
  <%= hdate @event.start_at %>
</p>

<p>
  <strong>終了日時:</strong>
  <%= hdate @event.end_at %>
</p>

<p>
  <strong>公開/非公開:</strong>
  <%= @event.dsp_is_public %>
</p>



<h3>出席者リスト</h3>
<table class="table table-bordered">
  <tbody>
<% @attends.each do |atnd| %>
  <tr>
    <td><strong><%= atnd.user_name %></strong></td>
    <td><p><%= atnd.body %></p></td>
    <td>
      <% if atnd.session_id == session.id %>
      <p><%= link_to attend_path(atnd), method: :delete, class: "btn", data: { confirm: '削除してもよろしいですか？' } do %>
          <span class="glyphicon glyphicon-trash"></span>
          <% end %>
      </p>
      <% end %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
  
  <hr>
  <div class="actions">
    

          
    <div class="pull-left">
      <%= link_to 'Back', events_path, class: "btn btn-default" %>
    </div>
    
    <div class="pull-right">
      <% if @is_editor %>
        <%= link_to 'Edit', "/events/#{@event.key}/edit", class: "btn btn-link" %> |
      <button type="button" class="btn btn-link" data-toggle="modal" data-target=".modal">招待メールを送信する</button>
      <% end %>
    </div>
    
    <div class="text-center">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".atnd-modal">参加申し込み</button>
    </div>
  </div>
  
<%= render 'attends/form' %>
  <%= render 'modal' %>

</div>