<p id="notice"><%= notice %></p>

<p>
  <strong>イベント名:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>イベント内容:</strong>
  <%= @event.info %>
</p>

<p>
  <strong>開始日時:</strong>
  <%= @event.start_at %>
</p>

<p>
  <strong>終了日時:</strong>
  <%= @event.end_at %>
</p>

<p>
  <strong>公開/非公開:</strong>
  <%= @event.dsp_is_public %>
</p>


<p>
  <strong>Key:</strong>
  <%= @event.key %>
</p>

<%#= link_to 'Edit', edit_event_path(@event) %>
<% if @is_editor %>
  <%= link_to 'Edit', "/events/#{@event.key}/edit" %> |
<% end %>
<%= link_to 'Back', events_path %>

<h3>出席者リスト</h3>
<table class="table table-bordered">
  <tbody>
<% @attends.each do |atnd| %>
  <tr>
    <td><strong><%= atnd.user_name %></strong></td>
    <td><p><%= atnd.body %></p></td>
    <td>
      <% if atnd.session_id == session.id %>
      <p><%= link_to attend_path(atnd), method: :delete, class: "btn", data: { confirm: '削除してもよろしいですか？' } do %>
          <span class="glyphicon glyphicon-trash"></span>
          <% end %>
      </p>
      <% end %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<h3>お申し込み</h3>
<%= render 'attends/form' %>

<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal">招待メールを送信する</button>

<%= render 'modal' %>